html {
  background-color: #30475E;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  overflow-x: hidden;
}

.titles {
  font-family: 'Montserrat', sans-serif;
  font-size: .85rem;
  margin: 80px 0 0 20px;
  color: #EDF2FB;
}

.titles .accentColor {
  margin-top: 10px;
  color: #75C9C8;
}

#about-section {
  margin: 95px 0 50px 0;
  padding: 10px 15px 100px 15px;
  background-color: #ABC4FF;
  color: #1b1b1b;
}

#about-section h2 {
  text-align: center;
  font-size: 1.3rem;
  padding: 20px 0 25px 0;
}

#about-section p {
  font-family: 'Hind Madurai', sans-serif;
  max-width: 850px;
  margin: 0 auto;
}

#about-section .resume-btn {
  background-color: #EDF2FB;
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 25px);
          transform: translate(-50%, 25px);
  padding: 7px 25px;
  border: none;
  border-radius: 50px;
  outline: none;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#about-section .resume-btn:hover {
  cursor: pointer;
  background-color: #75C9C8;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

#project-section {
  margin: 0 auto 150px auto;
}

#project-section h2 {
  color: #EDF2FB;
  text-align: center;
  font-size: 1.3rem;
}

#project-section .project-left img, #project-section .project-right img {
  margin: 50px auto 40px auto;
  height: 400px;
  width: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#project-section .project-left img:hover, #project-section .project-right img:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 70%;
}

#project-section .project-left .sub-title, #project-section .project-right .sub-title {
  color: #EDF2FB;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

#project-section .project-left p, #project-section .project-right p {
  color: #EDF2FB;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  max-width: 500px;
}

#project-section .project-btns {
  text-align: center;
  margin-top: 25px;
}

#project-section .project-btns button {
  background-color: #ABC4FF;
  font-family: 'Hind Madurai', sans-serif;
  padding: 7px 25px;
  border: none;
  border-radius: 50px;
  outline: none;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#project-section .project-btns button:hover {
  cursor: pointer;
  background-color: #75C9C8;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

#project-section .project-btns .live-btn {
  margin-right: 35px;
}

#contact-section {
  margin: 50px 0 30px 0;
  padding: 20px 0 25px 0;
  background-color: #ABC4FF;
  text-align: center;
  color: #1b1b1b;
}

#contact-section h2 {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

#contact-section .email {
  margin-bottom: 15px;
}

#contact-section a {
  color: #1b1b1b;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: bold;
  -webkit-transition: color .5s;
  transition: color .5s;
}

#contact-section a:hover {
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #EDF2FB;
}

footer {
  text-align: center;
  color: #75C9C8;
}

footer a {
  color: #75C9C8;
  font-size: 3rem;
  -webkit-transition: color .5s;
  transition: color .5s;
}

footer a:hover {
  color: #ABC4FF;
  -webkit-transition: color .2s;
  transition: color .2s;
}

footer .github {
  margin-right: 25px;
}

footer p {
  margin-top: 25px;
}

@media all and (min-width: 760px) {
  html {
    font-size: 18px;
  }
  .titles {
    font-size: 1.2rem;
    margin: 100px 0 90px 15%;
  }
  #about-section h2 {
    font-size: 1.5rem;
  }
  #project-section {
    margin-bottom: 200px;
  }
  #project-section h2 {
    font-size: 1.5rem;
  }
  #project-section .project-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: -70px;
  }
  #project-section .project-left .img-container {
    margin: 50px 5% 0 auto;
  }
  #project-section .project-left img {
    height: 450px;
    min-width: 320px;
  }
  #project-section .project-left .content {
    margin: 0 auto 0 0;
  }
  #project-section .project-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: -70px;
  }
  #project-section .project-right .img-container {
    margin: 50px auto 0 5%;
  }
  #project-section .project-right img {
    height: 450px;
    min-width: 320px;
  }
  #project-section .project-right .content {
    margin: 0 0 0 auto;
  }
  #contact-section {
    padding: 25px 0 25px 0;
  }
  #contact-section h2 {
    font-size: 1.5rem;
  }
  #contact-section p {
    margin-bottom: 5px;
    font-weight: bold;
  }
}

@media all and (min-width: 1250px) {
  .titles {
    margin: 100px 0 90px 20%;
  }
  #project-section .project-left img {
    margin: 50px 7% 40px auto;
    height: 450px;
  }
  #project-section .project-left .content {
    margin: 0 auto 0 0;
  }
  #project-section .project-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #project-section .project-right img {
    margin: 50px auto 40px 7%;
    height: 450px;
  }
  #project-section .project-right .content {
    margin: 0 0 0 auto;
  }
}
/*# sourceMappingURL=app.css.map */