$bg-color: #30475E;
$bg-purple: #ABC4FF;
$accent-color: #75C9C8;
$black: #1b1b1b;
$white: #EDF2FB;

html {
  background-color: $bg-color;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  overflow-x: hidden;
}

.titles {
  font-family: 'Montserrat', sans-serif;
  font-size: .85rem;
  margin: 80px 0 0 20px;
  color: $white;

  .accentColor {
    margin-top: 10px;
    color: $accent-color;
  }
}

#about-section {
  margin: 95px 0 50px 0;
  padding: 10px 15px 100px 15px;
  background-color: $bg-purple;
  color: $black;

  h2 {
    text-align: center;
    font-size: 1.3rem;
    padding: 20px 0 25px 0;
  }

  p {
    font-family: 'Hind Madurai', sans-serif;
    max-width: 850px;
    margin: 0 auto;
  }

  .resume-btn {
    background-color: $white;
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px);
    padding: 7px 25px;
    border: none;
    border-radius: 50px;
    outline: none;
    transition: background-color .5s;

    &:hover{
      cursor: pointer;
      background-color: $accent-color;
      transition: background-color .2s;
    }
  }
}

#project-section {
  margin: 0 auto 150px auto;
  h2 {
    color: $white;
    text-align: center;
    font-size: 1.3rem;
  }

  .project-left, .project-right {
    img {
      margin: 50px auto 40px auto;
      height: 400px;
      width: 320px;
      object-fit: cover;
      transition: all .5s;

      &:hover {
        transition: all .2s;
        opacity: 50%;
      }
    }
    .sub-title {
      color: $white;
      text-align: center;
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 25px;
    }

    p {
      color: $white;
      margin: 0 auto;
      padding: 0 15px;
      text-align: center;
      max-width: 500px;
    }
  }

  .project-btns {
    text-align: center;
    margin-top: 25px;

    button {
      background-color: $bg-purple;
      font-family: 'Hind Madurai', sans-serif;
      padding: 7px 25px;
      border: none;
      border-radius: 50px;
      outline: none;
      transition: background-color .5s;
  
      &:hover{
        cursor: pointer;
        background-color: $accent-color;
        transition: background-color .2s;
      }
    }

    .live-btn {
      margin-right: 35px;
    }
  }
}

#contact-section {
  margin: 50px 0 30px 0;
  padding: 20px 0 25px 0;
  background-color: $bg-purple;
  text-align: center;
  color: $black;
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.3rem;
  }

  .email {
    margin-bottom: 15px;
  }

  a {
    color: $black;
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: bold;
    transition: color .5s;

    &:hover {
      transition: color .2s;
      color: $white;
    }
  }
}

footer {
  text-align: center;
  color: $accent-color;

  a {
    color: $accent-color;
    font-size: 3rem;
    transition: color .5s;

    &:hover {
      color: $bg-purple;
      transition: color .2s;
    }
  }

  .github {
    margin-right: 25px;

  }
  
  p {
    margin-top: 25px;
  }
}

@media all and (min-width: 760px) {
  html {
    font-size: 18px;
  }

  .titles {
    font-size: 1.2rem;
    margin: 100px 0 90px 15%;
  }

  #about-section {
    h2 {
      font-size: 1.5rem;
    }
  }
  
  #project-section {
    h2 {
      font-size: 1.5rem;
    }
    margin-bottom: 200px;

    .project-left {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -70px;

      .img-container {
        margin: 50px 5% 0 auto;
      }

      img {
        height: 450px;
        min-width: 320px;
      }  

      .content {
        margin: 0 auto 0 0;
      }
    }
    .project-right {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      margin-bottom: -70px;

      .img-container {
        margin: 50px auto 0 5%;
      }

      img {
        height: 450px;
        min-width: 320px;
      }

      .content {
        margin: 0 0 0 auto;
      }
  
    }
  }

  #contact-section {
    padding: 25px 0 25px 0;
    
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
}

@media all and (min-width: 1250px) {
  .titles {
    margin: 100px 0 90px 20%;
  }

  #project-section {
    .project-left {
      img {
        margin: 50px 7% 40px auto;
        height: 450px;
      }  

      .content {
        margin: 0 auto 0 0;
      }
    }
    .project-right {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;

      img {
        margin: 50px auto 40px 7%;
        height: 450px;
      }

      .content {
        margin: 0 0 0 auto;
      }
  
    }
  }
}