$bg-color: #EDF2FB;
$accent-color: #75C9C8;
$black: #1b1b1b;

html {
  background-color: $bg-color;
}

.container {
  margin: 0 auto;
}

.titles {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  margin: 70px 0 0 15px;
  color: $black;

  .accentColor {
    margin-top: 10px;
    color: $accent-color;
  }
}

.about {
  margin: 75px 0;
  padding: 10px 15px 100px 15px;
  background-color: #ABC4FF;
  color: $black;

  h2 {
    text-align: center;
    font-size: 1.3rem;
    padding: 20px 0 25px 0;
  }

  p {
    font-family: 'Hind Madurai', sans-serif;
  }

  .resume-btn {
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px);
    padding: 7px 25px;
    border: none;
    border-radius: 50px;
    outline: none;
    transition: all .5s;

    &:active{
      background-color: $accent-color;
      transition: all .2s;
    }
  }
}
